[submodule "sw/external/riscv-opcodes"]
	path = sw/external/riscv-opcodes
	url = https://github.com/pulp-platform/riscv-opcodes.git
[submodule "sw/external/printf"]
	path = sw/external/printf
	url = https://github.com/mpaland/printf.git
